.btnHome {
    margin: 0;    
    width: 200px;
    height: 70px;
}

.transparente {
    color: gray;
}

.transparente-azul {
    color: #5BBFE6
}

.btn-amaral{
    background-color: #2D86FA;
    color: white;
}

.total {
    color: green;
    /* color: #5BBFE6; */
}


.valores {
    /* position: fixed; */
    box-shadow: 0px 0px 9px 2px #858585;
}

.quadrado-whats {
    border: 1px solid black;
    background-color: rgb(18, 140, 126);
}

.whats {
    height: 100px;
    width: 100px;
}

.quadrado {
    border: 1px solid black;

}

.list-inline .valor {
    float: right;
}

.txtarea {
    height: 150px !important;
}

.fm-slider-item {
    justify-content: center !important;
}

.teste {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.coluna {
    height: 300px;
    display: inline-block;

}


.tamanho-padrao{
    height: 480px;
    width: 640px;
}


.tamanho-padrao-card{
    height: 300px;
    width: 400px;
}