.btnHome {
    margin: 0;
}

.transparente {
    color: gray;
}

.total {
    color: green;
}


.valores {
    /* position: fixed; */
    box-shadow: 0px 0px 9px 2px #858585;
}

.list-inline .valor {
    float: right;
}

.txtarea {
    height: 150px !important;
}

.fm-slider-item {
    justify-content: center !important;
}

.teste {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.coluna {
    height: 300px;
    display: inline-block;

}

/* 
.row::after {
    content: "";
    clear: both;
    display: table;
} */